@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';
@import './radix.css';

html {
  font-size: 14px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  font-weight: 400;
}

input::placeholder {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

input:focus::placeholder {
  transform: translateX(0.3em);
}

.beautìul-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}

.beautìul-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.beautìul-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray_400');
}

input:-internal-autofill-selected {
  appearance: none;
  -webkit-appearance: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

div[role='dialog'] {
  overflow-y: auto !important;
}


